//***************************************************************************
//
//  Demo.rc
//
//***************************************************************************

#include <afxres.h>
#include "WaitDlg.rc"

// Other resources go here...