//***************************************************************************
//
//  WaitDlg.rc
//
//***************************************************************************

#include <afxres.h>
#include "WaitRsc.h"

IDD_WAITDIALOG DIALOG 0, 0, 186, 96
STYLE DS_MODALFRAME | DS_CENTER | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION ""
FONT 8, "MS Sans Serif"
BEGIN
    CTEXT           "", IDC_MSGCTRL, 8, 20, 168, 12, SS_NOPREFIX
    CONTROL         "", IDC_PROGRESSCTRL, "msctls_progress32", WS_BORDER,
                    8, 48, 168, 16
    PUSHBUTTON      "Cancel", IDCANCEL, 72, 72, 50, 14
END
