//***************************************************************************
//
//  ExpMenu.rc
//
//***************************************************************************

#include "ExpMenu.h"

ID_BITMAP BITMAP "Images.bmp"
