#define WIN32_LEAN_AND_MEAN
#include <windows.h>
#include "lipo32res.h"

IDD_DIALOG1 DIALOG 50, 50, 332, 242
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "LipoSuction32 - Matt Pietrek, 1996"
FONT 8, "MS Sans Serif"
{
 CONTROL "File:", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 6, 6, 18, 13
 EDITTEXT IDC_FILENAME, 28, 6, 296, 12, ES_AUTOHSCROLL | WS_BORDER | WS_TABSTOP
 LTEXT "Relocations", IDC_RELOCATIONS, 6, 34, 154, 12, WS_GROUP, WS_EX_STATICEDGE
 CONTROL "Bound Image", IDC_IMAGE_BOUND, "static", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 6, 54, 154, 12, WS_EX_STATICEDGE
 LTEXT "Incremental Linking", -1, 172, 22, 127, 12
 LISTBOX IDC_INCREMENTAL_LINKING, 172, 34, 154, 32, LBS_NOINTEGRALHEIGHT | WS_VSCROLL | WS_TABSTOP
 LTEXT "Debug Info", -1, 6, 70, 100, 10
 LISTBOX IDC_DEBUG_INFO, 6, 82, 154, 32, LBS_NOINTEGRALHEIGHT | WS_VSCROLL | WS_TABSTOP
 LTEXT "Unoptimized Code", -1, 172, 70, 128, 12
 LISTBOX IDC_UNOPTIMIZED_CODE, 172, 82, 154, 32, LBS_NOINTEGRALHEIGHT | WS_VSCROLL | WS_TABSTOP
 CONTROL "Uninitialized Data", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 6, 118, 100, 10
 CONTROL "", IDC_UNINITIALIZED_DATA, "listbox", LBS_NOTIFY | LBS_NOINTEGRALHEIGHT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_VSCROLL | WS_TABSTOP, 6, 130, 154, 40
 LTEXT "Combinable Sections", -1, 174, 118, 74, 10
 LISTBOX IDC_COMBINABLE_SECTIONS, 172, 130, 154, 48, LBS_NOINTEGRALHEIGHT | WS_VSCROLL | WS_TABSTOP
 LTEXT "Load Conflicts", -1, 6, 174, 70, 10
 LISTBOX IDC_LOAD_CONFLICTS, 6, 186, 320, 32, LBS_NOINTEGRALHEIGHT | WS_VSCROLL | WS_TABSTOP
 PUSHBUTTON "Strip Debug Info", IDC_STRIP_DEBUG_INFO, 7, 223, 80, 16
 PUSHBUTTON "Remove Relocations", IDC_REMOVE_RELOCATIONS, 125, 223, 80, 16
 PUSHBUTTON "Bind", IDC_BIND, 243, 223, 80, 16
}

1 icon Lipo32.ico
