#define WIN32_LEAN_AND_MEAN 1
#define _WIN32_WINNT 0x500
#include <windows.h>
#include "th32demo.h"

TH32DEMO_DLG DIALOG 13, 19, 320, 251
CLASS "TH32DEMO_DLG"
STYLE WS_OVERLAPPED | WS_VISIBLE | WS_CAPTION | WS_SYSMENU | WS_MINIMIZEBOX
CAPTION "TH32DEMO - Matt Pietrek 1995"
FONT 8, "MS Sans Serif"
{
 LISTBOX IDC_LISTBOX_PROCESSES, 4, 14, 310, 70, LBS_NOTIFY | WS_BORDER | LBS_USETABSTOPS | WS_BORDER | WS_VSCROLL | WS_TABSTOP
 LISTBOX IDC_LISTBOX_THREADS, 4, 96, 152, 60, LBS_NOTIFY | WS_BORDER | LBS_USETABSTOPS | WS_BORDER | WS_VSCROLL | WS_TABSTOP
 LISTBOX IDC_LISTBOX_HEAPS, 162, 96, 152, 60, LBS_NOTIFY | WS_BORDER | LBS_USETABSTOPS | WS_BORDER | WS_VSCROLL | WS_TABSTOP
 LISTBOX IDC_LISTBOX_MODULES, 4, 168, 310, 69, LBS_NOTIFY | WS_BORDER | LBS_USETABSTOPS | WS_BORDER | WS_VSCROLL | WS_TABSTOP
 PUSHBUTTON "Refresh", IDC_PUSHBUTTON_REFRESH, 4, 236, 50, 14
 LTEXT "", IDC_STATIC_CPROCESSES, 4, 2, 60, 8
 LTEXT "", IDC_STATIC_CTHREADS, 4, 84, 60, 8
 LTEXT "Heaps (Dbl-Click to show heap)", -1, 162, 84, 140, 8
 LTEXT "Modules", -1, 4, 156, 60, 8
}

HEAPWALK_DLG DIALOG 6, 15, 220, 160
STYLE DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Heap"
FONT 8, "MS Sans Serif"
{
 DEFPUSHBUTTON "OK", IDOK, 85, 144, 50, 14
 LISTBOX IDC_HEAP_LISTBOX, 4, 4, 212, 80, LBS_NOTIFY | WS_BORDER | LBS_USETABSTOPS | WS_BORDER | WS_VSCROLL
 EDITTEXT IDC_EDIT_BLOCK_DATA, 4, 90, 212, 48, ES_MULTILINE | ES_READONLY | NOT WS_TABSTOP | WS_BORDER
}

TH32DEMO_Icon ICON "th32demo.ico"
