#define WIN32_LEAN_AND_MEAN
#include <windows.h>
#include "ntqueryinformationprocessdemo.h"

IDD_NTQUERYINFORMATIONPROCESS DIALOG 0, 0, 472, 242
STYLE DS_MODALFRAME | DS_3DLOOK | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU | WS_MINIMIZEBOX
CAPTION "NtQueryInformationProcessDemo - MSJ, January 1997"
FONT 8, "Times New Roman"
{
 CONTROL "ListBox1", IDC_LB_PROCESSES, "listbox", LBS_NOTIFY | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_VSCROLL | WS_TABSTOP, 4, 13, 176, 142
 CONTROL "", IDC_LB_QUOTA_LIMITS, "listbox", LBS_NOTIFY | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_VSCROLL | WS_TABSTOP, 4, 168, 176, 61
 CONTROL "", IDC_LB_TIMES, "listbox", LBS_NOTIFY | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_VSCROLL | WS_TABSTOP, 188, 168, 120, 61
 CONTROL "", IDC_LB_POOL_USAGE_AND_LIMITS, "listbox", LBS_NOTIFY | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_VSCROLL | WS_TABSTOP, 316, 136, 152, 92
 CONTROL "", IDC_LB_VM_COUNTERS, "listbox", LBS_NOTIFY | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_VSCROLL | WS_TABSTOP, 316, 13, 152, 111
 CONTROL "", IDC_LB_BASIC_INFO, "listbox", LBS_NOTIFY | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_VSCROLL | WS_TABSTOP, 188, 13, 120, 67
 CONTROL "", IDC_LB_MISC, "listbox", LBS_NOTIFY | LBS_NOINTEGRALHEIGHT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_VSCROLL | WS_TABSTOP, 188, 92, 120, 58
 CONTROL "Refresh Processes", IDC_BUTTON_REFRESH, "button", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 121, 228, 64, 12
 CONTROL "Exit", IDC_BUTTON_EXIT, "button", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 205, 228, 64, 12
 CONTROL "About...", IDC_BUTTON_ABOUT, "button", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 287, 228, 64, 12
 CONTROL "Times", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 188, 159, 68, 8
 CONTROL "Quota Limits", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 4, 159, 68, 8
 CONTROL "Miscellaneous", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 189, 83, 88, 8
 CONTROL "VM Counters", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 316, 4, 88, 8
 CONTROL "Basic Info", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 188, 4, 80, 8
 CONTROL "Processes", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 4, 4, 60, 8
 CONTROL "Pool Usage and Limits", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 316, 127, 80, 8
}

